* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header {
    width: 100%;
    height: 80px;
   background-color: #11363f;
   color: white;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;   
}
.menu {
    font-size: 20px;
   margin-bottom: 15px;
       margin-left: 200px;
}
.menu:before {
  content: "\2630"; 
  font-size: 1.5em; 
  margin-right: -100px; 
}
.neck {
    width: 100%;
   background-color: #184d5a;
   height: 900px;
    display: flex;
   color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 3px solid #fb6816;
}
.title-holder {
   width: 900px;
    background-color: #11363f;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
   
}
.title {
    font-size: 100px;
    margin-bottom: 10px;
     border-bottom: white solid 3px;
     text-align: center;

     width: 600px;
     font-weight: 200;
        padding-bottom: 10px;
        margin-bottom: 10px;
}
.button-holder {
    margin-top: 40px;
 
}
.btn-learn {
   width: 200px;
    height: 50px;
    font-size: larger;
    color: white;
    background-color: #fb6816;
    border: 0px #fb6816 none;
    cursor: pointer;
}
.subtitle {
  letter-spacing: 6px;
}
/* hr {
    background-color: #fb6816;
    color: #fb6816; 
    height: 3px;
} */
 .ander-neck {
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202835;
    font-size: 40px;
    border-bottom: 3px solid #fb6816 ;
 }
 .ander-title-holder {
    width: 900px;
    height: 400px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   flex-direction: column;
 }
 .ander-title-holder img {
    border-bottom: 3px solid #fb6816;
    width: 600px;
    margin-bottom: 30px;
 }
 .secrebt.one span {
    color: #fb6816;
 }
 .secrebt.one {
    margin-bottom: 100px;
   
 }
 .ander-title-holder p:last-child {
     color: #fb6816;
     text-transform: uppercase;
 }
 .Middle.word1 {
    background-color: #202835;
    color: white;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
 }
 .Middle.body1 {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
 }
 .Middle.body1 .inside {

    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 200px 200px;
    background-color: white;
    width: 1000px;
    color: #202835;
   
    height: 400px;
   margin-left: 230px;

 }
 .Middle.body1 .inside div {
    position: relative;
 }
 .inside .p1::after {
    content: "";
    position: absolute;
   left: -80px;
    margin-top: 50px;
    width: 450px;
    height: 1px;
    background-color: #fb6816 ;
 }

  .inside .p1::before {
   position: absolute;
   content: "";
  
   background-size: 100% 100%;
   width: 80px;
   height: 80px;
   top: 10%;
   left: -100px;
   background-color: #202835;
   border-radius: 50% 50%;
  }
  .inside .p2::before{
    position: absolute;
   content: "";
   
   background-size: 100% 100%;
   width: 80px;
   height: 80px;
   top: 10%;
   left: 275px;
   background-color: #202835;
   border-radius: 50% 50%;
  }
 .inside .p2::after {
    content: "";
    position: absolute;
   left:-100px;
    margin-top: 50px;
    width: 450px;
    height: 1px;
    background-color: #fb6816 ;
 }
   .inside .p3::before{
    position: absolute;
   content: "";
  
   background-size: 100% 100%;
   width: 80px;
   height: 80px;
   top: 10%;
   left: -100px;
   background-color: #202835;
   border-radius: 50% 50%;
  }
    .inside .p4::before{
    position: absolute;
   content: "";
  
   background-size: 100% 100%;
   width: 80px;
   height: 80px;
   top: 10%;
   left: 275px;
   background-color: #202835;
   border-radius: 50% 50%;
  }
  .inside .p3::after {
       content: "";
    position: absolute;
   left:-100px;
margin-top: -360px;
    margin-left: 485px;
    height: 200px;
    width:  1px;
    background-color: #fb6816 ;
  }
    .inside .p4::after {
       content: "";
    position: absolute;
   left:-100px;
    margin-top: -140px;
    margin-left: -15px;
    height: 200px;
    width:  1px;
    background-color: #fb6816 ;
  }
  .inside h2 {
   color: #fb6816;
   font-weight: 500;
  
  }
  .inside .p2 {
   text-align: right;
   margin-right:240px ;
  }
  .inside .p4 {
   text-align: right;
    margin-right:240px ;
  }
  i {
   font-size: 40px ;
   position: absolute;
   color: white;
  }
  .fa-paint-brush {
    top: 18%;
    left: 285px;
  }
  .fa-pen {
    top: 19%;
    left: -85px;
  }
.fa-js {
    top: 20%;
    left: -86px;
}
.fa-comment-dots {
    top: 20%;
    left: 290px;
}
.Middle.word2 {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #202835;
   width: 100%;
   height: 500px;
   color: #b25320;
   font-size: 30px;
   
}
.Middle.word2 p {
   position: relative;
   display: inline-flex;
    height: 250px;
    width: 500px;
   text-align: center;
   align-items: center;
   overflow-wrap:break-word ;
border: 1px #b3b6ba dashed;
border-right: none ;
border-left:none ;
}
.Middle.word2 p::after {
    content: "";
    top: -2%;
    left: 0%;
    height: 257px;
    position: absolute;
    width: 500px;
    border: 1px #b3b6ba dashed;
    border-right: none;
    border-left: none;

}
.Middle.word2 p::before {
content: "";
    height: 266px;
    position: absolute;
    top: -4%;
    left: 0%;
    width: 500px;
    border: 1px #b3b6ba dashed;
    border-right: none;
    border-left: none;
}
.Middle.body2 {
   width: 100%;
   background-color: rgb(255, 255, 255);
   height: 900px;
   padding-top: 60px;
   
}
.Q1 {
color: #3a414d;
margin-left: 250px;
padding-bottom: 30px;
letter-spacing: 1.5px;

}
hr {
   background-color: #fb6816;
   color: #fb6816;
   border: solid 1px #fb6816
}
.grob-of-p  {
   color: #3a414d;
display: flex;
   justify-content: center;
   align-items: start;
   flex-wrap: wrap;
   width: 100%;
   height: 600px;
}
.grob-of-p .p1 {
   margin-top: 50px;
   width: 600px;
   text-align: center;
   overflow-wrap: break-word;
}
.grob-of-psq {
   width: 100%;
   height: 300px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}
.grob-of-psq .p2,.grob-of-psq .p3,.grob-of-psq .p4, .grob-of-psq .p5 {
width: 200px;
height: 180px;
background-color: #202835;
position: relative;
counter-increment: name;
transition: 1s;
}
.grob-of-psq .p2  p ,.grob-of-psq .p3  p ,.grob-of-psq .p4  p ,.grob-of-psq .p5 p {
text-align: center;
position: absolute;
overflow-wrap: break-word;
width: 200px;
height: 100px;
color: white;
bottom: 0px;
padding: 20px;
margin-bottom: 20px;
font-size: 15px;
}
.grob-of-psq .p2::after,.grob-of-psq .p3::after,.grob-of-psq .p4::after, .grob-of-psq .p5::after {
content: counter(name);
font-size: 65px;
color: white;
position: absolute;
    top: -15px;
    left: 40px;
}
.grob-of-psq .p2::before,.grob-of-psq .p3::before,.grob-of-psq .p4::before, .grob-of-psq .p5::before {
content: "0";
font-size: 65px;
color: white;
top: -15px;
position: absolute;
left: 2px;
}
.grob-of-psq .p2:hover,.grob-of-psq .p3:hover,.grob-of-psq .p4:hover, .grob-of-psq .p5:hover {
background-color: #fb6816;
}
.grob-of-p .p6 {
   color: #fc9054;
   font-size: 25px;
}
.sq-area {
   display: flex;
   justify-content: center;
   align-items: center;
   
height: 450px;
   width: 100%;
}
.squaers {
   display: grid;

   grid-template-columns: repeat(4,170px);
    grid-template-rows: repeat(2,170px);
   width: 650px;
   height: 300px;
}
.squaer {
   width: 150px;
   height: 150px;
   background-color: #202835;
   display: flex;
   justify-content: center;
   align-items: center;
  transition: 1s;
}
.squaer i {
   position: relative;
   font-size: 20px;
   font-weight: 600;
   display: none;
   cursor: pointer;
}
.squaer .fa-search {
   margin-right: 30px;
}

/* .fa-search,
.fa-share-alt {

} */
.mine-circal {
   align-self: flex-end;
   position: absolute;
   margin-bottom: 20px;
   margin-left: 10px;
   justify-content: space-between;
   display: flex;
   width: 50px;
}
.mine-circal .circal {
   width: 10px;
   height: 10px;
   border: none;
   background-color: #202835;
   border-radius: 50% 50%;
}
.mine-circal .circal.one {
   background-color: #fb6816
}
.squaer:hover  {
   background-color: #fb6816;

}
.squaer:hover i {
  display: inline;

}
.Middle-img.one {
   width: 100%;
   height: 600px;
   background: #202835;
       margin-bottom: 40px;
}
.some-div {
    width: 400px;
    height: 75%;
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Middle-title {
   color: #fb6816;
   width: 100%;
   padding-bottom:20px ;
   border-bottom:#fb6816 solid 2px ;
}
.Middle-body-3 {
   color: white;
   font-size: 30px;
   word-break: break-all;
}
.Middle-body-4 {
   color: #555d6f;
   font-size: 20px;
   word-break: break-all;
}
.who {
   display: flex;
   justify-content: center;
   align-content: center;
   color: #fb6816;
   font-weight: 400;
   margin-bottom: 30px;
   letter-spacing: 2px;
}
.p7 {
display: flex;
justify-self: center;
justify-content: center;
flex-wrap: wrap;
align-items: center;
margin-top: 20px;
width: 400px;
text-align: center;
word-break: break-all;
height: 70px;
}
.ahw {
   display: flex;
   justify-self: center;
   width: 600px;
   height: 900px;
       flex-direction: column;
margin-top: 30px;
}
.empty {
   
   display: flex;
   align-items: center;
   text-align: center;
   width: 600px;
   height: 300px;
   background-color: #f3f3f3;
   word-break: break-all;
}
.elvis {
width: 600px;
height: 160px;
text-transform: uppercase;
background-color: #202835;
color: #fb6816;
border-top: #fb6816 solid 5px; 
padding: 10px 20px; 
margin-bottom: 40px;
}
.elvis-name {
   font-size: 40px;
   color: white;
}
.three-squaer {
   width: 960px;
   display: flex;
   justify-self: center;
   height: 250px;
   align-items: center;
   justify-content: space-between;
   margin-top: 50px;
    margin-left: -196px;
}
.squae {
   border-top: 2px solid #fb6816 ;
   width: 300px;
   height: 250px;
   background-color: #f3f3f3;
   display: flex;
   align-items: center;
   justify-content: center;
}
.mine-squae {
   background-color: #9fa2a7;
   width: 100%;
   color: #d9dadc;
   text-transform: capitalize;
}
.good-at {
   margin-left: 265px;
   font-size: 20px;
   font-weight: 300;
   color: #202835;
   margin-bottom: 30px;
}
.good-at-circals {
   height: 200px;
   width: 800px;
   display: flex;
   justify-self: center;
   justify-content: space-between;
   align-items: center;
}
.circa {
width: 160px;
height: 160px;
border: 10px #202835 solid;
border-radius: 50% 50%;
text-align: center;
line-height: 160px;
position: relative;
}
.circa::after {
content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    top: -9px;
    left: -9px;
    border-radius: 50% 50%;
    transform: rotate(-45deg);
    border: 11px solid #fb6816;
    border-right: transparent 10px solid;
   
} 
.p9 {
   width: 100%;
   text-align: center;
   padding: 40px;
   word-break: break-all;
   color: white;
   background-color: #fb6816;
   height: 150px; 
   font-size: 30px;
   position: relative;
}

.p9::after {
    content: '"';
    position: absolute;
    color: #202835;
    top: -25px;
    left: 350px;
    font-size: 120px;
}
.p9::before {
content: '"';
    position: absolute;
    color: #202835;
    top: 15px;
    left: 1050px;
    font-size: 120px;
    transform: rotate(180deg);
}
.sponsers {
   width: 900px;
   height: 600px;
   background-color: #202835;
   display: grid;
   grid-template-columns: 200px 200px 200px 200px ;
   grid-template-rows: 150px 150px 150px;
   gap: 20px;
   justify-self: center;
   margin-left: 30px;
}
.back {
   background-color: #202835;
   width: 100%;
   height: 600px;
 
}
.sponser i {
    font-size: 50px;
    margin-left: 70px;
    color: #b3b6ba;
    margin-top: 50px;
    left: initial;
    top: initial;
    
}
.price-title {
   width: 100%;
   height: 70px;
   margin-bottom: 20px;
   margin-top: 20px;
   color: #fb6816;
   font-size: 30px;
   letter-spacing: 2px;
   text-align: center;
   line-height: 70px;
    text-transform: uppercase;
}
.p10 {
   display: flex;
   justify-self: center;
   width: 900px;
   height: 70px;
   margin-bottom: 30px;
   margin-top: 30px;
   color: #202835;
   font-size: 30px;
   letter-spacing: 1px;
   text-align: center;
   word-break: break-all;
    text-transform: capitalize;
}
.price {
   width: 100%;
   height: 600px;
}
.price-tables {
   display: flex;
   justify-self: center;
   justify-content: space-between;
   width: 1100px;
   height: 600px;
}
.table {
   display: flex;
   flex-direction: column;
   width: 360px;
   justify-items: flex-start;
   align-items: center;
   background-color: #c8cbd1;
}
.box {
 background-color: #202835;
    color: white;
    width: 100%;
    height:  200px;
    border-bottom: 5px #fb6816 solid;
}
.table-head {
   width: 80%;
   height: 40px;
       margin-left: 35px;
   border-bottom:2px white solid ;
   color: #fb6816;
   margin-top: 20px;
  text-align: center;
}
.table-title {
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
font-size: 20px;
}
.table-price {
   text-align: center;
margin-top: 20px;
margin-bottom: 20px;
font-size: 40px;
}
.table-body {
   word-break: break-all;
   text-align: center;
   line-height: 85px;
   font-size: 20px;
}
.area-sing {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   background-color: #202835;
   border-top: 2px #fb6816 solid ;

}
.sing-up {
   width: 600px;
   display: flex;
   height: 200px;
   flex-direction: column;
   color: white;
   justify-content: center;
   align-items: center;
   padding-bottom: 20px;
}
.sing-up-title {
   padding-bottom: 20px;
   color: #fb6816;
   font-size: 25px;
}
.sing-up-body {
padding-bottom: 20px;
width: 200px;
word-break: break-all;
text-align: center;
line-height: 30px;
}
.sing-up-body span {
   color: #fb6816;
}
.btn-learn.em {
     height: 22px;
    width: 90px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.email {
   background-color: #202835;
   border: #f3f3f3 1px solid ;
}
.footer-menu-hold {
   background-color: #9fa2a7;
   display: flex;
   align-items: center;

   width: 100%;
   height: 400px;
}
.footer-menu {
   background-color: #202835;
   width: 450px;
   height: 200px;
      margin-top: 50px;
      padding-left: 250px;
      color: #b3b3b3;
      line-height: 30px;
}
.menu-title {
   color: #fb6816;
   width: 200px;
   height: 30px;
   border-bottom: #fb6816 solid 2px;
   margin-bottom: 5px;
}
.menu-fo i {
   font-size: 10px;
  color: #b3b3b3;
   top: initial;
   left: initial;
   position: relative;
       margin-right: 4px;
}
.menu-fo i::before {
   margin-right:0px ;
}
.the-end {
   width: 100%;
   min-height: 200px;
   background-color: #202835;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-end {
   display: flex;
   height: inherit;
   width: 300px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.footer-back {
   text-transform: uppercase;
   color: #fb6816;
   font-size: 25px;
   padding-bottom:20px ;
}
.footer-copy {
   color: white;
   margin-bottom: 20px;
}